//===========================================
//                ABOUT
//===========================================

.about-img,
.about-info
{
    padding:2rem 0;
}

.about-picture-container
{
    background-color:$clr_primary;
    border:0.5rem solid $clr_primary;
    max-width:30rem;
    overflow:hidden;
    .about-picture
    {
        transition:$transition;
    }
}

.about-picture-container:hover .about-picture
{
    opacity:0.5;
    transform:scale(1.2);
}

.about-text
{
    max-width:26rem;
    color:$clr_grey-5;
}

@media screen and (min-width:992px)
{
    .about-img,
    .about-info
    {
        float:left;
        width:50%;
    }
    .about-info
    {
        padding-left:2rem;
    }
}