//===========================================
//             PRODUCTS
//===========================================

.products
{
    background-color:$clr_grey-10;
    article
    {
        margin:2rem 0;
    }
}

.product
{
    margin-bottom:2rem;
    &-price{color:$clr_primary;}
    &-img
    {
        border-radius:$radius;
        margin-bottom:2rem;
        height:17rem;
        object-fit:cover;
    }
    &-text
    {
        color:$clr_grey-5;
        max-width:26rem;
    }
}

@media screen and (min-width:768px)
{
    .product
    {
        width:50%;
        float:left;
        padding-right:2rem;
    }
}

@media screen and (min-width:992px)
{
    .product
    {
        width:calc(100% / 3);
    }
}

@media screen and (min-width:1200px)
{
    .product-info
    {
        float:left;
        width:30%;

    }
    .product-inventory
    {
        float:left;
        width:70%;
    }
    .product
    {
      margin-bottom:0;
      padding:0 1rem;
      overflow:hidden;
    }
}