//colors
$clr_primary:#678e3e;
$clr_primary_light:#beed8c;
$clr_grey-1:#102a42;
$clr_grey-5:#617d98;
$clr_grey-10:#f1f5f8;
$clr_white:#fff;
//fonts
$ff_primary:"Catamaran", sans-serif;
$ff_secondary:"Grand Hotel", cursive;
//element styling
$transition:all 0.3s linear;
$spacing:0.25rem;
$radius:0.5rem;